apiVersion: apps/v1
kind: Deployment
metadata:
  name: ticket-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ticket-service
  template:
    metadata:
      labels:
        app: ticket-service
    spec:
      containers:
        - name: ticket-service
          image: kennyadg/ticket-service:latest
          ports:
            - containerPort: 3003
          env:
            - name: DATABASE_URL
              value: "postgres://admin:admin@10.241.222.216:30432/ticketapp"
            - name: JWT_SECRET
              value: "supersecret"
            - name: PORT
              value: "3003"
            - name: RESERVATION_EXPIRY_MINUTES
              value: "15"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
