apiVersion: v1
kind: Service
metadata:
  name: ticket-service-svc
  namespace: microservices
spec:
  selector:
    app: ticket-service
  ports:
    - protocol: TCP
      port: 3003
      targetPort: 3003
  type: ClusterIP
